.menu {
  color: #FFFFFF;
}

.menu button {
  background: none;
  color: #FFFFFF;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.menu button:hover {
  transform: scale(1, 1.4);
}

.menu button.active {
  font-weight: bold;
}

