body {
  align-items: center;
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

img {
  border: 1px solid #FFFFFF;
  cursor: pointer;
  filter: none;
  transition: transform .2s;
}

img:hover {
  transform: scale(1.01);
  filter: invert(0.1);
}

img.grey {
  border: 3px solid #000;
  filter: grayscale(100%) invert(0.9) contrast(3);
}

.centerScreen {
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) 
}

.logo {
  background-color: rgba(0,0,0,0);
}

.App {
  width: 100vw;
  height: 100vh;
}

.cursor {
  cursor: pointer;
}

canvas {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}